:root{
    --blue: #1e3050;
    --yellow: #cfcd99;
    --green: #005838;
}

.card{
    border: 2px solid var(--blue);
    filter: brightness(0.95) opacity(0.9);
    transition: 0.75s ease-in-out;
    transition-delay: 0.1s;
    scale: 0.95;
    width: 663px;
    height: 341px;
    margin: 20px;
    box-shadow: 3px 3px 15px 0 #1e3050bb;;
}

.card:hover{
    filter: brightness(1.1) opacity(1);
    scale: 1.05;
}