:root{
    --blue: #1e3050;
    --yellow: #cfcd99;
    --green: #005838;
}


body{
    margin: 0;
    padding: 0;

}

.logo > img{
    width: 110px;
    padding: 7.5px;
}

.nav-hr{
    margin-top: 0px;
}

/* header styles */

#head{
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px 0 #000000bb ;
    height: 100px;
    width: 100%;
    z-index: 3;
    display:flex;
    align-items: center;
    justify-content: flex-start;

}


.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    height:100%;
}




/* nav styles */

.logo{
    width:calc(100% - 20px);
    padding:10px;
    height: auto;


}


#nav{
    position: fixed;
    width:125px;
    height:100vh;
    border-right: 1px solid black;
    box-shadow: 0 0 10px 0 #000000bb;
    z-index: 5;
    background-color: #e5f0e7;
}

#nav > hr{
    margin: 0 5px;
    border-top: 1px solid white;

}


#nav > .nav-link-wrapper{
    padding:15px;
    display: block;
    position: absolute;
}


#nav > .nav-link-wrapper > .link-nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
    transition: .15s;
    text-align: center;
}

.nav-link-wrapper i{
    font-size: 3em;
    margin-bottom: 5px;

}

.nav-link-wrapper p{
    margin-top: 3px;
    font-size: 1.2em;
}


.nav-link-wrapper > .link-nav:hover{
    color:#777777;
}


.img-link{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:1;
}

